// component styles are encapsulated and only applied to their components
.home {
  padding: 20px;

  h1 {
    position: fixed;
    bottom: 0;
    left: 10%;
    max-width: 750px;
    font-size: 150px;
    font-weight: 600;
    letter-spacing: -16px;
    line-height: 128px;
  }
}